header {
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-style: italic;
}

a {
    font-style: italic;
}

img {
    width: 25%;
    height: 25%;
}


.div-principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.div-child {
    padding: 20px;
}

.div-grandson {
    padding: 20px;
}